body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  border: 25px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-size: 48px;
  text-align: left;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 10px;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #af4c4c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #5645a0;
}