* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.banner-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 50px;
}

.banner {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
  background-color: #fff; 
}

.banner a {
  display: inline-block;
}

.banner-left {
  display: flex;
  margin-right: 25px;
}

.banner-right {
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  position: relative;
  left: 42em;
}

.dreamlogo {
  max-width: 90px;
  margin-right: 30px;
}

.dropdown-group {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  margin-right: 20px;
}

.dropdown button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.profile {
  display: flex;
  align-items: center;
}

#profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: relative;
  left: -2em;
  bottom: 0em;
}

#profile-name {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  position:relative;
  left: -7em;
  bottom: -1em
}


.btn-primary-logout {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  left: -5em;
}

.btn-primary-dashboard {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  left: -6em;
}

.btn-login-signup {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  left: -3em;
}
