/* Reset some default styles */
body, h1, h2, form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.budget {
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="date"] {
  width: 100%;
}

section {
  margin-bottom: 20px;
}

.income-item,
.expense-item {
  display: flex;
  justify-content: space-between;
}

/* Styling for submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Make category input boxes longer */
input[type="text"] {
  width: 70%; /* Adjust the width as needed */
}

/* Keep the amount input boxes a bit shorter */
input[type="number"] {
  width: 25%; /* Adjust the width as needed */
}
