/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
  text-align: center;
  padding-bottom: 15px;
}

.edit-profile-body {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    overflow-y: auto;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"], 
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button */
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  /* Flash messages */
  .flash-message {
    padding: 10px; 
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .success {
    color: #3c763d; 
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }