/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Profile Body Styles */
.profile_body {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  overflow-y: auto;
}

/* Profile Information Styles */
.profile-info-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.profile-info h1 {
  color: #333;
  margin-bottom: 20px;
}

#profile-view-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

/* Buttons Styles */
.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
}

#edit-account-btn {
  background-color: #007BFF;
  color: #fff;
  box-shadow: 0 4px 6px rgba(52, 152, 219, 0.3); /* Added box-shadow for edit account button */
}

#delete-account-btn {
  background-color: #e74c3c;
  color: #fff;
  box-shadow: 0 4px 6px rgba(231, 76, 60, 0.3); /* Added box-shadow for delete account button */
}

button:hover {
  opacity: 0.9;
}

#edit-account-btn:hover {
  background-color: #217dbb; /* Darker blue on hover for edit account button */
}

#delete-account-btn:hover {
  background-color: #c0392b; /* Darker red on hover for delete account button */
}

/* Flash Messages Styles */
.flash-messages {
  margin-top: 20px;
  text-align: center;
}

.flash-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.flash-message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.flash-message.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}