{% extends 'base.html' %}

{% block page_title %}
  {{ user.name }}
{% endblock %}

{% block content %}
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  <img src="{{ user.image_url }}" alt="User Image">
  <button type="button" onclick="window.location.href='/users/{{ user.id }}/edit'">Edit User</button>
  <button type="button" onclick="window.location.href='/users/{{ user.id }}/post'">Add Post</button>
  <button type="button" onclick="window.location.replace('/users/{{ user.id }}/add_tags')">Tags</button>
  <button onclick="window.location.href='/'">Go Back</button>
  
  <h2>Posts:</h2>
  <ul>
    {% for post in user.posts %}
      <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}