{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>
<p>
  <a class="btn btn-primary" href="/songs">Add Song To Playlist</a>
  <div class="text-danger">
    Songs in this playlist:
    </div>
  <ul>
    {% for song in songs %}
    <li>
      <a href="{{ url_for('show_song_details', song_id=song.id) }}">
        {{ song.title }} - {{ song.artist }}
      </a>
    </li>
    {% endfor %}
  </ul>
</p>
{% endblock %}