<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/banner.css" id="authenticated-styles" />
  <title>Home Page</title>
</head>
<!-- add nav bar -->
<body class="banner-body">
  <main class="banner-frame">
    <div class="banner-left">
      <a href="/">
        <img src="{{ url_for('static', filename='images/dreamlogo.jpg') }}" alt="Dream Logo" class="dreamlogo">
      </a>
      <div class="dropdown-group">
        <div class="dropdown">
          <button class="btn-i-want-to">I Want to .. &#9660;</button>
          <div class="dropdown-content-i-want-to">
            <div class="btn-i-want-to">
              <ul>
                <li><a href="/budget">Budget</a></li>
                <li><a href="/savings">Save</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn-learn">Learn &#9660;</button>
          <div class="dropdown-content-learn">
            <div class="btn btn-learn">
              <ul>
                {% if g.user.is_authenticated %}
                  <li><a href="/resources">Resources</a></li>
                  <li><a href="/tipsandtricks">Tips & Tricks</a></li>
                  <li><a href="/financialguides">Financial Guides</a></li>
                  <li><a href="/aboutus">About Us</a></li>
                {% else %}
                  <li><a href="#" onclick="sendToLogin('Resources')">Resources</a></li>
                  <li><a href="#" onclick="sendToLogin('Tips & Tricks')">Tips & Tricks</a></li>
                  <li><a href="#" onclick="sendToLogin('Financial Guides')">Financial Guides</a></li>
                  <li><a href="#" onclick="sendToLogin('About Us')">About Us</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-right">
      <div class="btn btn-banner-right">
        {% if g.user.is_authenticated %}
          <a href="/dashboard" class="btn-dashboard">Dashboard</a>
          <a href="/logout" class="btn-logout">Logout</a>
        </div>
        <div class="profile-logged-in">
          <a href="{{ url_for('profile', user_id=g.user.id) }}">
            <img id="profile-picture" src="{{ g.user.image_url}}" alt="Profile Picture">
            <span id="profile-name">{{ g.user.username }}</span>
          </a>
        </div>
        {% else %}
        <div class="dropdown-group">
          <div class="dropdown">
            <button class="btn-login-signup">Login / Signup &#9660;</button>
            <div class="dropdown-content-login-signup">
              <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="profile-logged-out">
          <a href="/login">
            <img id="profile-picture" src="{{ 'static/images/default.jpg' }}" alt="Profile Picture">
          </a>
        </div>
      {% endif %}
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/banner.js') }}"></script>
</body>
</html>
