<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/budget.css') }}">
</head>
<body class="budget_body">
    <header>
        {% include 'navbar.html' %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

        <h1>Budget</h1>
        
        <form id="budgetForm" action="{{ url_for('budget') }}" method="POST">
            {{ form.csrf_token }}
            <h2>Date:</h2>
            <input type="date" id="date" name="date" required>

            <section class="income">
                <h2>Income:</h2>
                <div id="income-fields">
                    <button type="button" onclick="addIncomeField()">Add Income</button>
                </div>
            </section>

            <section class="expense">
                <h2>Expense:</h2>
                <div id="expense-fields">
                    <button type="button" onclick="addExpenseField()">Add Expense</button>
                </div>
            </section>

            <button class="submit" type="submit">Submit</button>
        </form>
        <script src="{{ url_for('static', filename='js/budget.js') }}"></script>
</body>
</html>