<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Dashboard</title>
</head>
<body class = "dashboard_body">
    <header>
        {% include 'banner.html' %}
    </header>

    <h1>Welcome to Your Dashboard, {{ user.username }}!</h1>

    <h2>Your Budgets</h2>
    <form id="dateForm">
        <label for="selectDate">Select Date:</label>
        <select id="selectDate" name="selectDate">
            {% for budget in budgets %}
                <option value="{{ budget.date }}">{{ budget.date }}</option>
            {% endfor %}
        </select>
        <button type="button" onclick="loadData()">Load Data</button>
    </form>
        <ul id="incomeList"></ul>
        <ul id="expenseList"></ul>

    <h2>Your Savings Goals</h2>
    <ul>
        {% for goal in savings_goals %}
            <li>Goal: {{ goal.goal_name }}, Amount: {{ goal.goal_amount }}</li>
        {% endfor %}
    </ul>

        <!-- <h2>Totals</h2>
    <p>Total Income: {{ total_income }}</p>
    <p>Total Expenses: {{ total_expense }}</p>
    <p>Net Total: {{ net_total }}</p> -->

    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="static/js/dashboard.js"></script>

</body>
</html>