<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Dashboard</title>
</head>
<body class="dashboard_body">
    <header>
        {% include 'banner.html' %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h1>Welcome to Your Dashboard, {{ user.username }}!</h1>
    {% if budgets %}
    <h2>Budgets</h2>
        <div class="budget-section">
            <div class="date-chart-delete-container">
                <div class="budget-date-section">
                    <label for="selectDate">Select Budget Date:</label>
                    <select id="selectDate" name="selectDate">
                        {% for budget in budgets %}
                            <option value="{{ budget.date }}">{{ budget.date }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button id="deleteDateButton">Delete Budget Date</button>

                <div class="chart-type">
                    <label for="chartType">Select Chart Type:</label>
                    <select id="chartType" name="chartType" onchange="loadData()">
                        <option value="bar">Bar Chart</option>
                        <option value="line">Line Chart</option>
                        <option value="pie">Pie Chart</option>
                        <option value="donut">Donut Chart</option>
                    </select>
                </div>
            </div>

            <div class="income-container">
                <div class="income-dropdown-group">
                    <button class="income-dropdown-button">Income &#9660;</button>
                    <div class="income-dropdown-content" id="incomeDropdownContent" onchange="loadData()"></div>
                </div>

                <div class="income-list-container">
                    <ul id="incomeList" class="income-scrollable-list"></ul>
                </div>                
            </div>

            <div class="expense-container">
                <div class="expense-dropdown-group">
                    <button class="expense-dropdown-button">Expense &#9660;</button>
                    <div class="expense-dropdown-content" id="expenseDropdownContent" onchange="loadData()"></div>
                </div>

                <div class="expense-list-container">
                    <ul id="expenseList" class="expense-scrollable-list"></ul>
                </div>
            </div>
        </div>

        <div class="chart-container">
            <div id="incomeVsExpenseChart"></div>
            <div id="incomeChart"></div>
            <div id="expenseChart"></div>
        </div>

    {% else %}
        <div class="else-budget">
            <h2>No Budget Avalible!!</h2>
        <p>Please click the button below to fill out a budget.</p>
        <a href="{{ url_for('budget') }}"><button class="add-budget">Add Budget</button></a>
        </div>
    {% endif %} 
    
    {% if savings %}
    <h2>Savings Goals</h2>
    <div class="savings-goals-container">
        <div class="saving-date-section">
            <label for="selectSavingsDate">Select Saving Date:</label>
            <select id="selectSavingsDate" name="selectSavingsDate">
                {% for saving in savings %}
                    <option value="{{ saving.date }}">{{ saving.date }}</option>
                {% endfor %}
            </select>

            <button id="deleteSavingsDate">Delete Saving Date</button>
        </div>

        <section id="savings-goals">
            <ul id="savingList"></ul>
        </section>

    </div>
    {% else %}
    <div class="else-savings">
    <h2>No Savings Goal Avalible!!</h2>
    <p>Please click the button below to fill out a savings goal.</p>
    <a href="{{ url_for('saving') }}"><button class="add-saving">Add Savings Goal</button></a>
    </div>
    {% endif %}

    {% if budgets and savings %}
    <h2 class="report">Report</h2>
    <div class="savings-potential-container" id="savingsPotientailContainer">
        <ul id="monthlySavingsPotientailMessage"></ul>
    </div>
    {% else %}
    <div class="else-report">
        <h2>No Reports Available!</h2>
        <p>Fill out a budget and savings goal to see report.</p>
    </div>
    {% endif %}

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>
