<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="static/css/homepage.css">
</head>
<body class="homepage_body">
  <header>
    {% include 'banner.html' %}
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
  {% endwith %}
  <div class="content">
    <h1>Welcome to Your Personal Finance Tracking App!</h1>
    <p>Track and manage your finances all in one place with our easy-to-use app. Take control of your money and achieve your financial goals.</p>
    <h2>Key Features:</h2>
    <ul>
      <li>Expense Tracking: Keep track of your income and expenses to understand your spending habits.</li>
      <li>Budgeting: Set budgets and monitor your progress to stay on track.</li>
      <li>Goal Setting: Set financial goals and track your progress towards achieving them.</li>
      <li>Reports and Insights: Gain valuable insights into your financial health with detailed reports and charts.</li>
      <li>Secure and Private: Your financial data is encrypted and securely stored.</li>
    </ul>
    <h2>Get Started Today!</h2>
    <p>Sign up for our app and start taking control of your personal finances. It's free and easy to get started.</p>
    <p><a href="{{ url_for('signup') }}">Sign Up Here</a>.</p>
  </div>
  <script src="static/js/homepage.js"></script>
</body>
</html>