<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
  <title>Profile Page</title>
</head>
<body class="profile_body">
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
  {% endwith %}
  <div class="profile_info">
    <h1>Welcome, <span id="username">{{ user.username }}</span>!</h1>
    <div class="profile-info">
      <h2>Profile Information</h2>
      <p>Name: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>URL: {{ user.image_url }}</p>
    </div>
    <div class="buttons">
      <button id="edit-account-btn" onclick="window.location.href='users/edit-profile'">Edit Account</button>
      <button id="delete-account-btn">Delete Account</button>
    </div>
  </div>
</body>
</html>