<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <link rel="stylesheet" href="static/css/profile.css">
</head>
<body>
  <div class="profile">
    <h1>Welcome, <span id="username">{{ username }}</span>!</h1>
    <div class="profile-info">
      <h2>Profile Information</h2>
      <p>Name: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>URL: {{ user.image_url }}</p>
      <!-- Add more profile information as needed -->
    </div>
    <div class="buttons">
      <button id="edit-account-btn" onclick="window.location.href='users/edit-profile'">Edit Account</button>
      <button id="delete-account-btn">Delete Account</button>
    </div>
  </div>
</body>
</html>